*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

/*ESTILOS DEL HEADER*/
header{
  height: 60px;
  
  /* display: flex; */
  padding:  0 20px;
  display: grid;

}
.menu-toggle {
    display: none;
    margin-left: auto;
    color: black;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
    margin-top: -65px;
}

.titulo{
  margin-top: 20px;
}
.titulo a{
  color: black;
  text-decoration: none;
  font-size: 43px;
  text-transform: uppercase;
  line-height: 60px;
  font-family: 'Kaushan Script', cursive;
}
#menu{
  margin-left: auto;
}
#menu ul li{
  display: inline-block;
}
#menu ul li a{
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  line-height: 60px;
  padding: 0px 15px;
  text-transform: uppercase;
  transition: .2s;
  font-size: 20px;
  margin-top: 5px;
}

#menu ul li a:hover{
  
  background: black;
  opacity: 0.6;
  color: gray;
  border-radius: 5px;
}
 .show{
  height: 265px !important;
} 

/*ESTILOS DEL MAIN*/

.main{
  margin-top: 270px;
}

.avatar img{
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 2px solid gray;
  margin-left: 40px;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px)and (max-width: 759px) {
  .titulo a{
   font-size: 35px;
  margin-left: 70px;
  }
  .ola{
   display: none;
  }
  .menu-toggle{
    display: block;
  } 
 
 }

 /* Medium devices (tablets, 760px and up) */
 @media (max-width: 760px) {
 
 
  header{
    background: #d8d3cd;
  }
  #menu{
    background: #1b262c;
    position: absolute;
    top: 60px;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: .3s ease-out;
    width: 100%;
    margin-left: 15px;
    border: solid 1px white;
  }
  #menu ul li {
    display: block;
   text-align: center;
  }
  #menu ul li a{
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid black;
    width: 100%;
  }
  #menu ul li a:hover{
    background: black;
    
  }
  .container{
    padding: 10px;
  }
  .saludoNombre{
    display: none;
  }
   .avatar img{
        margin-top: -300px;
        mix-blend-mode: overlay;
        width: 270px;
        height: 260px;
        margin-left: 55px;
  }
  }
 
 @media (max-width: 800px) {
  .titulo a{
    font-size: 35px;
    
  }
  .titulo{
    margin-top: 5px;
  }

  }


