*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #222831;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

/*ESTILOS DEL HEADER*/
header{
  height: 60px;
  
  /* display: flex; */
  padding:  0 20px;
  display: grid;

}
/* .ola{
  box-shadow: 0 0 15px 2px rgba(224, 222, 222);
  z-index: 99;
} */
.menu-toggle {
    display: none;
    margin-left: auto;
    color: black;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
    margin-top: -65px;
}

.titulo1{
  margin-top: 20px;
}
.titulo1 a{
  color: black;
  text-decoration: none;
  font-size: 43px;
  text-transform: uppercase;
  line-height: 60px;
  font-family: 'Kaushan Script', cursive;
}
#menu{
  margin-left: auto;
}
#menu ul li{
  display: inline-block;
}
#menu ul li a{
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  line-height: 60px;
  padding: 0px 15px;
  text-transform: uppercase;
  transition: .2s;
  font-size: 20px;
  margin-top: 5px;
}

#menu ul li a:hover{
  
  background: #222831;
  color:  rgba(224, 222, 222);
  border-radius: 5px;
}
 .show{
  height: 265px !important;
  
} 

/*ESTILOS DEL MAIN*/

.main{
  margin-top: 270px;

}

/*ESTILOS DEL AVATAR*/
.avatar img{
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 2px solid gray;
  margin-left: 40px;
  box-shadow: 0 0 15px 2px rgba(224, 222, 222);
}

/*Estilos para los iconos de tecnologias*/
.containerTenologias{
  display: flex;
  justify-content: center;
  width: 390px;
  margin-top: 25px;
 
 

}
#iconTc{
  font-size: 80px;
  margin-left: 10px;
  
}

/*ESTILOS DEL NOMBRE Y DEV*/

.saludo{
  color:  rgba(224, 222, 222);
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
}
.nombre{
  font-weight: bold;
  color: rgb(247, 223, 30);
  font-style: normal;
  font-family: 'Kaushan Script', cursive;
  
}

.dev{
  font-size: 28px;
  color:  rgba(224, 222, 222);
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
}

.btn-outline-dark{
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background:  rgba(224, 222, 222);
  

}
  .btn-outline-dark:hover{
    background: #222831;
    color:  rgba(224, 222, 222);
    border-radius: 20px;
    text-transform: uppercase;
   
  }

  /* ESTILOS DE LOS CARDS */
#cards{
  
  padding: 30px 0px;
}
.parrafoProyectos{
  font-size: 25px;
}

#cards h1{
  font-weight: 900;
  font-size: 34px;
  padding-bottom: 5px;
}
.title2{
  text-align: center;
  padding: 25px 0px;
  color:  rgba(224, 222, 222);
}
.title p{
  font-size: 18px;
  
}
.card-body{
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.4);
  
}
.card{
  margin: 20px 10px;
  
 
}
.card-body a{
color: blue;
text-decoration: none;
font-size: 15px;
font-weight: 600;
margin-top: auto;

}
#card-img-top{
  
  border-radius: 5px;

  
}

/*Estilos del Footer*/
#footer{
  width: 100%;
  height: 300px;
  background: rgb(224, 222, 222);
  border: solid 1px black;
  position: relative;
  box-shadow: 0 0 20px 7px rgba(224, 222, 222);
  
}

.redes-sociales{
  
  display: flex;
  justify-content: center;
}
.redes-sociales h1{
  margin-top: 40px;
}
 #iconRedes{
  font-size: 60px;
}

h1 span{
  margin-left: 40px;
  font-size: 40px;
}
.redesP{
  margin-left: 40px;

}

.parrafoFooter{
  display: flex;
  justify-content: center;
 
}







 /* Small devices (landscape phones, 759px and up) */
@media (min-width: 320px)and (max-width: 759px) {
  .titulo1 a{
   font-size: 35px;
  margin-left: 70px;
  }
  .ola{
   display: none;
  }
  .menu-toggle{
    display: block; 
  } 



 
 }

 /* Medium devices (tablets, 760px and up) */
 @media (max-width: 760px) {
 
  header{
    background: #d8d3cd;
  
  }
  #menu{
    background: #1b262c;
    position: absolute;
    top: 60px;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: .3s ease-out;
    width: 100%;
    margin-left: 15px;
    border: solid 1px white;

  }
  #menu ul li {
    display: block;
   text-align: center;
  }
  #menu ul li a{
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid black;
    width: 100%;
  }
  #menu ul li a:hover{
    background: black;
    
  }
  .container{
    padding: 10px;
  }
  .saludoNombre{
    display: none;
  }
   .avatar img{
        margin-top: -300px;
        mix-blend-mode: overlay;
        width: 270px;
        height: 260px;
        margin-left: 55px;
  }
  }
 
 @media (max-width: 800px) {
  .titulo1 a{
    font-size: 35px;
    
  }
  .titulo1{
    margin-top: 5px;
  }

  }


