*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #222831;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}
/*ESTILOS DEL HEADER*/
header{
  height: 150px;
  width: 100%;
  padding:  0 20px;
  display: grid;
  /* background-color: #343a40!important; */

}


.menu-toggle {
    display: none;
    margin-left: auto;
    color: black;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
    margin-top: -65px;
}

.titulo1{
  margin-top: 20px;
}
.titulo1 a{
  color: black;
  text-decoration: none;
  font-size: 43px;
  text-transform: uppercase;
  line-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Kaushan Script', cursive; */
}

/* navegacion */

.navegacion{
  width: 100%;
  margin: 0px 0;
  /* background: white; */
  display: flex;
  justify-content: flex-end;
  /* background-color: #343a40!important; */
  align-items: center;
}
.navegacion ul{
  list-style: none;
  margin-top: 0;
  
}

.menu > li{
  position: relative;
  display: inline-block;
  
}
.menu > li a{
  display: block;
  padding: 15px 38px;
  color: rgba(224, 222, 222);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;

 

}
.menu li a:hover{
  background: rgba(224, 222, 222);
  color:  #222831;
  /* border-radius: 10px; */
  transition: all .5s;
  
}
.submenu{
  position: absolute;
  background:black; 
  color: #222831;
  width: 120%;
  /* display: none; */
  /* transition: opacity 1.5s; */
  opacity: 0;
}
.submenu li a{
  display: block;
  padding: 15px;
  color: #fff;
  font-family:Arial, Helvetica, sans-serif ;
  text-decoration: none;
  

}

.menu li:hover .submenu{
display: block;
opacity: 1;
}

.menu .submenu li a{
  margin-top: 10px;
}








/* #menu{
  margin-left: auto;
}
#menu ul li{
  display: inline-block;
  
  

}
#menu ul li a{
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  line-height: 60px;
  padding: 0px 15px;
  text-transform: uppercase;
  transition: .2s;
  font-size: 20px;
  margin-top: 5px;
} */
/* SUBMENUS DE ENLACES */
/* #enlaces .submenu li{
  display: block;
 
}
.submenu{
  position: absolute;
  width: 100%;
  
  background: rgba(224, 222, 222) ;
  
}
 #enlaces .submenu li a{
  display: block;
  padding: 15px;
  color: #d6249f;
   width: 200%; 
   display: none; 
  
}

#menu li:hover .submenu{
  display: block;
} 




#menu ul li a:hover{
  background: rgba(224, 222, 222);
  color:  #222831;
  border-radius: 5px;
} */
 .show{
  height: 295px !important;
  /* display: none; */
  /* display: block; */
  
  
} 


/* parallax */
.parallax{
  position: relative;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
  display: table-row-group;
  /* mix-blend-mode: overlay; */
  

}
.parallax img{
  position: absolute;
  top: 340px;
  left: 0px;
  width: 100%;
  height: 78%;
  object-fit: cover;
}


/*ESTILOS DEL MAIN*/

.main{
  margin-top: 270px;

}

/*ESTILOS DEL AVATAR*/
.avatar img{
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 2px solid gray;
  margin-left: 40px;
  box-shadow: 0 0 15px 2px rgba(224, 222, 222);
 
}

/*Estilos para los iconos de tecnologias*/
.containerTenologias{
  display: flex;
  justify-content: center;
  width: 390px;
  margin-top: 25px;
  
}

#iconTc{
  
  font-size: 80px;
  border-radius:10px ;
  margin-left: 10px;
  box-shadow: -3px -3px 2px rgba(255, 255, 255,0.3),
              5px 5px 5px rgba(0,0,0,0.2),
              15px 15px 15px rgba(0,0,0,0.2)
}


/*ESTILOS DEL NOMBRE Y DEV*/

.saludo{
  color:  rgba(224, 222, 222);
  /* font-family: 'Kaushan Script', cursive; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.nombre{
  font-weight: bold;
  color: rgb(247, 223, 30);
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Kaushan Script', cursive; */
  
}

.dev{
  font-size: 28px;
  color:  rgba(224, 222, 222);
  font-weight: bold;
  /* font-family: 'Kaushan Script', cursive; */
  font-family: Arial, Helvetica, sans-serif;
}

.btn-outline-dark{
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background:  rgba(224, 222, 222);
  

}
  .btn-outline-dark:hover{
    background: #222831;
    color:  rgba(224, 222, 222);
    border-radius: 20px;
    text-transform: uppercase;
   
  }
  /* ESTILOS DE LOS CARDS  */
 #cards{
  padding: 30px 0px;
}
.parrafoProyectos{
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Kaushan Script', cursive; */
}
#cards h1{
  font-weight: 900;
  font-size: 38px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Kaushan Script', cursive; */
}
.title2{
  text-align: center;
  padding: 25px 0px;
  color:  rgba(224, 222, 222);
  font-family: Arial, Helvetica, sans-serif;
}
.card{
  margin: 20px 10px;
  box-shadow: 0 0 10px 2px gray;
  border: 1px solid black;
}
.card-body a{
color: blue;
text-decoration: none;
font-size: 15px;
font-weight: 600;
margin-top: auto;
border: 1px solid black;
}
#card-img-top{
  border-radius: 5px;
}
    /*Estilos del Footer*/
.header-redes{
  background: #222831;
}
#redes{
  text-decoration: none;
}
#tecnologias-footer{
  color:  rgba(224, 222, 222);
  font-size: 25px;
}
#links-footer{
  color:  rgba(224, 222, 222);
  font-size: 25px;
}
#contacto-footer{
  color:  rgba(224, 222, 222);
  font-size: 25px;

}
#tecFooter{
  text-decoration: none;
  color:  rgba(224, 222, 222);
  font-size: 20px;
}
#linkFooter{
  text-decoration: none;
  color:  rgba(224, 222, 222);
  font-size: 20px;
}
#contactoIconos{
  color:  rgba(224, 222, 222);
  font-size: 20px;
}
#iconoContacto, i #iconoContacto  {
  font-size: 30px;
}

#iconRedes{
  font-size: 35px;
  
}
.icon-instagram{
  background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


 /* Small devices (landscape phones, px and up) */
 @media (max-width: 575.98px) {  
  #whatsaapFloat{
    display: none;
  }
  .titulo1 a{
    font-size: 43px;
   margin-left: 70px;
   }
   .titulo1{
     margin-top: 5px;
   }
   .menu-toggle{
     display: block; 
   } 
   header{
     width: 100%;
     height: 62px;
     background: #d8d3cd;
   }
   .navegacion{
    background: black;
    position: absolute;
    top: 62px;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-out;
    width: 100%;
    margin-left: auto;
    border: solid 1px #1b262c;

  }
  #menu ul li {
    display: block;
   text-align: center;
  }
  #menu ul li a{
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid rgba(224, 222, 222);
    width: 100%;
    height: 69px;
  }
  #menu ul li a:hover{
    background: rgba(224, 222, 222);
    color:  #222831;
    
  }
  .container{
    padding: 10px;
  }
  .saludoNombre{
    display: none;
  }
   .avatar img{
    margin-top: -250px;
    mix-blend-mode: overlay;
    width: 270px;
    height: 260px;
    margin-left: 61px;
  }
  #tecnologic, #linksFooter{
    display: none;
  }
  /* .show{
    height: 295px !important;
    display: block;
  }  */
  }

 
  
  @media (max-width: 767.98px) { 
    .saludoNombre{
      display: none;
    }
   }

 

   /* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1024px) { 
  .parallax{
    display: none; 
  }
 }